body {
    background-color: #f3f3f3;
}
h1{
    background-color: #0c0c0c;
    color: #f3f3f3;
}

#simulaciones {
    border: #0c0c0c 1px solid;
    padding: 10px;
    border-radius: 5px;
    box-shadow: #c1c1c1 1px 1px 5px;
}