body {
    background-color: #f3f3f3;
    font-family: Arial, Helvetica, sans-serif
}
h1{
    background-color: #0c0c0c;
    color: #f3f3f3;
}

#simulaciones {
    border: #0c0c0c 1px solid;
    padding: 10px;
    border-radius: 5px;
    box-shadow: #c1c1c1 1px 1px 5px;
}

.card{
    box-shadow: 1px 1px 5px 1px gray;
    transition: box-shadow, scale;
    transition-duration: 1s;
    &:hover,&:focus{
        box-shadow: 2px 2px 10px 2px gray;
        scale: 1.01;
    }}
